{{! The big featured header }}
<header id="header">
    <nav class="header-nav" {{#if @blog.cover}}style="background-image:url({{@blog.cover}}){{/if}}">

      <div class="blog-title"><a href="http://blog.jfaquinojr.com">{{@blog.title}}</a></div>

      <!--Change this to customize the navigation-->
      <div class="taglist-wrapper clearfix">
        <ul id="taglist" class="taglist">
            <li><a href="http://blog.jfaquinojr.com">Home</a></li>
            <li><a href="/tag/csharp">C#</a></li>
            <li><a href="/tag/linux">Linux</a></li>
            <li><a href="/tag/javascript">Javascript</a></li>
            <li><a href="/tag/lifehack">Lifehacks</a></li>
        </ul>
      </div>
    </nav>

</header>